server {

       listen 443 ssl;
       ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem; 
       ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem; 
         
       server_name {{ inventory_hostname }};

       location / {
         root /srv/www;
         index index.html;
       }
       location /api/diff {
         fastcgi_pass unix:/run/php/php7.0-fpm.sock;
         fastcgi_param SCRIPT_FILENAME /srv/php/diff.php;
         fastcgi_param  REQUEST_METHOD     $request_method;
         fastcgi_param  QUERY_STRING       $query_string;
         fastcgi_param  SERVER_PROTOCOL    $server_protocol;
#         add_header 'Access-Control-Allow-Origin' 'http://nbelousova.devops.srwx.net';
       }
       
       location = /api/sum/ {
         proxy_pass http://localhost:8080/sum/;
       }  



}

server {

       listen 80;
       return 301 https://{{ inventory_hostname }};
       server_name {{ inventory_hostname }};

       root /srv/www;
}
